@import url(../css/base/fonts.css);
* {
  font-family: "ralewayregular", sans-serif; }

.header-row {
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 1;
  margin-top: 3px; }

.nav-item {
  padding: 0px 15px;
  margin: 30px 0; }

.octagon {
  position: absolute;
  top: -2.8rem; }

.carousel-inner {
  overflow: inherit !important; }

.slider-wrapper img {
  width: 100%;
  position: absolute;
  top: 0; }

.red-text {
  color: #ff0036; }

.carousel {
  overflow: hidden;
  top: -5rem; }

.carousel-item {
  background: rgba(0, 0, 0, 0.5); }

.carousel-caption {
  top: 32%; }
  .carousel-caption h5 {
    font-weight: bold;
    font-size: 30px; }
  .carousel-caption p {
    font-size: 1rem; }

.navbar-brand {
  position: absolute;
  top: -3.2rem; }

.nav-item {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  .nav-item .nav-link {
    font-size: 18px;
    text-transform: uppercase;
    color: #a4a4a4 !important;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    padding-right: 0.4rem; }
    .nav-item .nav-link:hover {
      color: #fff !important; }
      .nav-item .nav-link:hover:before {
        content: '';
        width: 100%;
        height: 3px;
        position: absolute;
        background-color: #ff0036;
        margin-top: -19px;
        right: 0; }
      .nav-item .nav-link:hover:after {
        content: '';
        width: 100%;
        height: 3px;
        position: absolute;
        background-color: #ff0036;
        margin-top: 40px;
        left: 0; }

.btn-group {
  margin-top: 53px; }

.box {
  width: 300px;
  height: 300px;
  margin: auto;
  background: #fff; }

.box-left,
.box-right {
  width: 270px;
  height: 270px;
  margin: auto;
  position: absolute;
  top: 1rem; }
  .box-left .box-inner,
  .box-right .box-inner {
    width: 260px;
    height: 260px; }

.box-inner {
  width: 290px;
  height: 290px;
  background-image: url("https://drscdn.500px.org/photo/303244475/q%3D80_m%3D1000/v2?webp=true&sig=28fd0ec1cb0bbc38987e2ed627785206c2fb9fcdea4866a97e0bf4a6fcaa7bbe");
  background-size: cover;
  background-position: 0 0;
  margin: auto;
  top: 6px;
  position: relative; }

.hexagon {
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); }

.hexagon-inner {
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); }

.hexagon-wrapper .box {
  z-index: 1;
  margin: auto; }

.hexagon-wrapper .box-left {
  position: absolute;
  left: -1rem; }

.hexagon-wrapper .box-right {
  position: absolute;
  right: 1rem; }

.btn-link {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0px !important; }

.accordion-icon {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid #ff0036;
  display: block;
  margin: 0 2rem 0 0; }
  .accordion-icon svg {
    width: 15px;
    height: 15px; }
    .accordion-icon svg path {
      fill: #ff0036; }

.about .divider {
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; }
  .about .divider:before, .about .divider:after {
    content: '';
    width: 50%;
    display: block;
    height: 1px;
    background-color: #262626;
    margin: 0 auto; }
  .about .divider svg {
    width: 25px;
    height: 25px; }

.portfolio-section {
  position: relative; }
  .portfolio-section .divider {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -.5rem; }
    .portfolio-section .divider:before, .portfolio-section .divider:after {
      content: '';
      width: 50%;
      display: block;
      height: 2px;
      background-color: #ff0036;
      margin: 0 auto; }
    .portfolio-section .divider svg path {
      fill: #ff0036; }

.portfolios {
  padding-bottom: 110px;
  background-color: #262626;
  position: relative; }

.portfolio-nav-wrapper {
  padding: 100px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #262626; }
  .portfolio-nav-wrapper .portfolio-header {
    color: #fff;
    padding-bottom: 27px;
    font-weight: 700; }

.portfolio-nav {
  margin: 0;
  padding: 0; }

.portfolio-item {
  padding: 0 23px; }
  .portfolio-item a {
    color: #a4a4a4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase; }
    .portfolio-item a:hover {
      color: #ff0036;
      text-decoration: none;
      transition: color .2s; }

.portfolio-example {
  position: relative;
  height: 355px;
  overflow: hidden; }
  .portfolio-example.orange {
    background-color: #f39943; }
  .portfolio-example.blue {
    background-color: #3782aa; }
  .portfolio-example.pink {
    background-color: #ef5d88; }
  .portfolio-example.dirty-white {
    background-color: #f6f0e0; }
  .portfolio-example.light-green {
    background-color: #56cc82; }
  .portfolio-example.grey {
    background-color: #95a5a5; }
  .portfolio-example.light-blue {
    background-color: #24b0c9; }
  .portfolio-example.peach {
    background-color: #fa8562; }
  .portfolio-example img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.product-features {
  height: 90vh; }

.product-features-header {
  font-size: 30px;
  font-weight: bold; }

.links {
  padding-top: 3rem;
  position: relative; }
  .links .links-icon {
    position: relative; }
    .links .links-icon svg {
      position: absolute;
      margin: auto;
      margin-left: -2rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 30px; }
      .links .links-icon svg:first-child {
        z-index: 1; }
  .links .link-item {
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    padding: 10px 15px;
    border: 1px solid #c9c9c9;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px; }
    .links .link-item:hover {
      background-color: #ff0036;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff; }
      .links .link-item:hover svg:first-child path {
        fill: #ff0036 !important; }
      .links .link-item:hover svg:last-child path {
        fill: #fff !important; }
      .links .link-item:hover a {
        text-decoration: none;
        color: #fff; }
    .links .link-item a {
      text-decoration: none;
      color: #333; }

.mockup img {
  position: absolute;
  left: -3rem;
  padding-bottom: 100px; }

.mockup .slider-btn {
  background-color: #393939;
  z-index: 2;
  position: absolute;
  bottom: -120%;
  left: 50%;
  transform: translate(-50%, 0%); }

.clients {
  position: relative;
  margin-top: 177px;
  padding-bottom: 100px;
  background-image: url("../../img/clients-bg.png");
  background-position: center;
  background-repeat: no-repeat; }
  .clients .section-header {
    padding-top: 0; }
  .clients .divider {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -.5rem; }
    .clients .divider:before, .clients .divider:after {
      content: '';
      width: 50%;
      display: block;
      height: 2px;
      background-color: #ff0036;
      margin: 0 auto; }
    .clients .divider svg {
      width: 20px;
      height: 20px; }
      .clients .divider svg path {
        fill: #ff0036; }
  .clients .partners-wrapper {
    display: flex;
    flex-direction: column; }
  .clients .partners-line {
    display: flex; }
    .clients .partners-line .partner-item {
      padding: 45px 40px 20px;
      border: 1px solid #c9c9c9; }
      .clients .partners-line .partner-item:nth-child(1) {
        margin-right: 30px; }
    .clients .partners-line:nth-child(1) {
      margin-bottom: 40px; }

.btn-group {
  display: flex;
  justify-content: space-between;
  flex-direction: row; }

.slider-btn {
  padding: 17px 35px;
  display: block;
  text-transform: uppercase;
  background-color: #131313;
  color: #fff;
  text-decoration: none;
  margin-right: 30px; }
  .slider-btn:hover {
    background-color: #ff0036;
    color: #fff;
    text-decoration: none; }

* {
  font-family: "ralewayregular", sans-serif; }

ul li {
  list-style: none; }
  ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1rem; }

section .section-header {
  padding-top: 100px;
  padding-bottom: 55px; }

section .section-description {
  padding-bottom: 100px; }
