// colors
$red-color:         #ff0036;
$white:             #ffffff;
$black:             #000000;

// fonts

$relaway-black: "raleway_regular", sans-serif;
$relaway-bold: "ralewaybold", sans-serif;
$relaway-extra-bold: "raleway_extraboldregular", sans-serif;
$relaway-extra-light: "raleway_extralightregular", sans-serif;
$relaway-light: "raleway_lightregular", sans-serif;
$relaway-medium: "raleway_mediumregular", sans-serif;
$relaway-regular: "ralewayregular", sans-serif;

$lato: "latoregular", sans-serif;
$lato-light: "lato_lightregular", sans-serif;
$lato-heirline: "lato_hairlineregular", sans-serif;
$lato-bold: "latobold", sans-serif;
$lato-regular-black: "lato_blackregular", sans-serif;
