.clients {
  color: #fff;
  position: relative;
  margin-top: 177px;
  padding-bottom: 100px;
  background: rgba(0,0,0,0.7) url("../img/clients-bg.png");

  &:before {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: inherit;
    content: ' ';
  }
  
  .section-header {
    padding-top: 95px;
  }

  .divider {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -.65rem;

    &:before,
    &:after {
      content: '';
      width: 50%;
      display: block;
      height: 2px;
      background-color: $red-color;
      margin: 0 auto;
    }
    svg {
      width: 20px;
      height: 20px;
      path {
        fill: $red-color;
      }
    }
  }
  .partners-wrapper {
    display: flex;
    flex-direction: column;
  }
  .partners-line {
    display: flex;
    .partner-item {
      padding: 45px 40px 20px;
      border: 1px solid #c9c9c9;
      background-color: #d6d6d6;
      box-shadow: inset hoff voff blur #000;
      &:nth-child(1){
        margin-right: 30px;
      }
    }
    &:nth-child(1){
      margin-bottom: 40px;
    }
  }
}
.reviews-slider-indicator {
  display: flex;
  .indicator {
    width: 10px;
    height: 10px;
    display: block;
    background-color: #fff;
    margin: 0 2px;
    margin-top: 28px;
    &.active {
      background-color: #ff0036;
    }
  }
}
.carousel {
  top: 0;
  .carousel-indicators {
    position: static;
  }
  .carousel-item {
    background-color: transparent;
  }
}


