section.about {
  font-family: $lato;
  .accordion-text {
    p {
      font-family: $lato;
      font-size: 14px;
      margin-bottom: 45px;
    }
  }
}
.hexagon-wrapper {
  .box{
    z-index: 1;
    margin: auto;
  }
  .box-left{
    position: absolute;
    left: -1rem;
  }
  .box-right{
    position: absolute;
    right: -1rem;
  }
  @media screen and (max-width: 576px) {
    div {
      display: flex;
      flex-direction: column;
      .box, .box-left, .box-right {
        position: static;
        width: 180px;
        height: 180px;
        .box-inner {
          width: 170px;
          height: 170px;
          margin: auto;
        }
      }
    }
  }
}

.box {
  width: 300px;
  height:280px;
  margin: auto;
  &.hexagon-big {
    position: static;
    background-color: $white;
    overflow: hidden;
    -webkit-clip-path: polygon(76% 0, 100% 49%, 80% 100%, 24% 100%, 0 48%, 25% 0);
    clip-path: polygon(76% 0, 100% 49%, 80% 100%, 24% 100%, 0 48%, 25% 0);
  }
}
.box-left,
.box-right{
  width: 270px;
  height: 250px;
  margin: auto;
  position: absolute;
  top: 1rem;
  .box-inner {
    width: 260px;
    height: 250px;
    background-size: cover;
    background-position: 0 0;
    background-image: url("https://drscdn.500px.org/photo/303244475/q%3D80_m%3D1000/v2?webp=true&sig=28fd0ec1cb0bbc38987e2ed627785206c2fb9fcdea4866a97e0bf4a6fcaa7bbe");

    &:before, &:after {
      background-color: transparent;
    }
  }
}
.box-inner {
  width: 290px;
  height: 270px;
  background-image: url("https://drscdn.500px.org/photo/303244475/q%3D80_m%3D1000/v2?webp=true&sig=28fd0ec1cb0bbc38987e2ed627785206c2fb9fcdea4866a97e0bf4a6fcaa7bbe");
  background-size: cover;
  background-position: 0 0;
  margin: auto;
  top: 6px;
  position: relative;
}
.hexagon {
  @include hexagon(290px, 290px);
}
.hexagon-inner {
  -webkit-clip-path: polygon(76% 0, 100% 49%, 80% 100%, 24% 100%, 0 48%, 25% 0);
  clip-path: polygon(76% 0, 100% 49%, 80% 100%, 24% 100%, 0 48%, 25% 0);
}
.btn-link {
  display: flex!important;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0px!important;
  span.red-text {
    font-family: $relaway-medium;
    font-size: 20px;
  }
}
.accordion {
  .card-body-custom {
    padding: 15px;
  }
}
.accordion-icon {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid $red-color;
  display: block;
  margin: 0 2rem 0 0;

  svg {
    width: 15px;
    height: 15px;
    path {
      fill: $red-color;
    }
  }
}
.about {
  .divider {
    @include divider (-5.75rem, #262626);
    margin: 5rem auto;
    z-index: 1;
    position: static;
    transform: translate(0%);
  }
}
.advantage-item {
  .advantages-header {
    text-transform: uppercase;
    font-size: 20px;
    font-family: $relaway-medium;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .advantages-description {
    font-family: $lato;
    font-size: 16px;

  }
  .hexagon {
    background-color: #626262;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 70px;
    height: 61px;
    margin-bottom: 1.5rem;
    .inner-hexagon {
      -webkit-clip-path: polygon(76% 0, 100% 49%, 80% 100%, 24% 100%, 0 48%, 25% 0);
      clip-path: polygon(76% 0, 100% 49%, 80% 100%, 24% 100%, 0 48%, 25% 0);
      width: 68px;
      height: 60px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        color: #262626;
      }
    }
    &:hover {
      background-color: $red-color;
      .inner-hexagon {
        background-color: $red-color;
        svg {
          color: $white;
          path {
            fill: $white;
          }
        }
      }
    }
    &:before,
    &:after {
      content: '';
      width: 0;
    }
  }
}
.accordion-icon {
  @include plusMinus(20px, 2px, $red-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.btn-link {
  &.collapsed {
    .accordion-icon  {
      transform: rotate(0deg);
      &::before {
        content: '';
        display: block;
        width: 20px - 8px;
        height:0px;
        border-bottom: solid 2px $red-color;
        position: absolute;
        bottom: 9px;
        transform: rotate(90deg);
        transition: width 0.3s;
      }
    }
  }
}