section.bestseller {
    .card-body {
        padding: 0!important;
        & > p {
          padding: 0 20px;
          border-bottom: 1px solid #f2f2f2
        }
    }
    .btn-order {
        padding: 6px 25px;
        font-size: 18px;
        font-family: $relaway-regular;
        @media screen and (max-width: 767px) {
            width: 75%;
        }
    }
    .card {
       
        padding-left: 0;
        padding-right: 0;
    }
    .card-body {
        border-left: 1px solid #f2f2f2;
        border-right: 1px solid #f2f2f2;
    }
    .card-item:hover {
        .card-title > span {
            background-color: $red-color;
            color: #fff;
        }
        .btn-order {
            background: $red-color;
        }
    }
    .card-wrapper {
        @media screen and (max-width: 992px){
            .card-item {
                padding-bottom: 1rem;
            }
         }
        @media screen and (max-width: 767px){
           .card-item {
               display: none;
           }
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        opacity: 0.2;
        background: black;
    }
}
// .card-deck {
//     display: flex;
//     @media screen and (max-width: 767px) {
//         display: none!important;
//     }
// }

.card-carousel {
    display: none;
    .carousel-indicators {
        margin-bottom: 0;
        li {
            background-color: #000;
        }
    }
    @media screen and (max-width: 767px){
      visibility: visible;
      display: flex;
      flex-direction: column-reverse;
      margin: auto;
      width: 90%;
    }
  }

  .card-body {
    .card-title {
        text-align: center;
        font-family: $relaway-medium;
        p {
            background-color: #262626;
            color: $white;
            text-transform: uppercase;
            padding: 20px;
            margin-bottom: 0;
            font-size: 20px;
        }
        span {
            display: block;
            width: 100%;
            padding: 15px;
            font-size: 50px;
            background-color: #f2f2f2;
            font-family: $lato-bold;
            font-weight: bold;
            sub {
                font-size: 14px;
            }
        }
    }
    .card-text {
        font-family: $lato;
        font-size: 16px;
    }
    
  }
  .card-footer {
      background-color: #fff!important;
      border-top: none; 
      border: 1px solid #f2f2f2;
  }
  .card-footer-custom {
    
    background: #fff;
}
  