@import "../components/variables";
.card-deck {
    display: flex;
    @media screen and (max-width: 767px) {
        display: none!important;
    }
}

.card-carousel {
    display: none;
    .carousel-indicators {
        margin-bottom: 0;
        li {
            background-color: #000;
        }
    }
    @media screen and (max-width: 767px){
      visibility: visible;
      display: flex;
      flex-direction: column-reverse;
      margin: auto;
      width: 90%;
    }
  }

  .card-title {
      text-align: center;
      p {
          background-color: #262626;
          color: $white;
          text-transform: uppercase;
          padding: 20px;
          margin-bottom: 0;
          font-size: 16px;
      }
      span {
          display: block;
          width: 100%;
          padding: 15px;
          font-size: 32px;
          background-color: #f2f2f2;
          font-family: sans-serif;
          font-weight: bold;
          sub {
              font-size: 14px;
          }
      }
  }
  .card-body {
      padding: 0!important;
      & > p {
        padding: 0 20px;
        border-bottom: 1px solid #f2f2f2
      }
  }
  .btn-order {
      padding: 12px 25px;
  }