.article {
  margin-bottom: 2rem;
  .article-image {
    img {
      width: 100%;
      height: 200px;
    }
    @media screen and (max-width: 767px){
      width:auto;
      margin: auto;
      justify-content: center;
      display: flex;
    }
  }
  .article-blog {
    @media screen and (max-width: 767px){
      text-align: center;
      .article-title {
        padding-top: 1rem;
      }
    }
  }
  .article-title {
    font-size: 20px;
    padding-bottom: 20px;
    font-family: $relaway-bold;
  }
  .article-info {
    padding-bottom: 20px;
    font-size: 12px;
    font-family: $lato;
    a {
      text-decoration: none;
      color: #a2a2a2;
      margin-right: 23px;
      transition: color ease-in-out .5s;
      &:hover {
        color: $red-color;
      }
    }

    svg {
      margin-right: 10px;
    }
  }
  .article-text {
    font-size: 16px;
    font-family: $lato;
    color: #505050;
    line-height: 15px;
  }
}
