.clients {
  color: $white;
  position: relative;
  margin-top: 177px;
  padding-bottom: 100px;
  background: rgba(0,0,0,0.7) url("../img/clients-bg.png");

  &:before {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: inherit;
    content: ' ';
  }
  
  .section-header {
    padding-top: 95px;
  }

  .divider {
    @include divider(-6.85rem, $red-color);
  }
  .partners {
    display: flex;
    justify-content: center;
    .partners-wrapper {
      display: flex;
      flex-direction: column;
    }
  }
  .partners-line {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 767px) {
      margin: 0 15px;
    }
    .partner-item {
      padding: 25px 40px 20px;
      border: 1px solid #c9c9c9;
      background-color: #d6d6d6;
      box-shadow: inset hoff voff blur #000;
      max-width: 215px;
      &:nth-child(1){
        margin-right: 25px;
        @media screen and (max-width: 506px) {
          margin-right: 0;
          margin-bottom: 0.5rem;
        }
      }
    }
    &:nth-child(1){
      margin-bottom: 40px;
      @media screen and (max-width: 767px) {
        margin-bottom: 0.5rem;
      }
    }
  }
  .section-description {
    padding-bottom: 35px!important;
    padding: 0 4rem;
  }
  .carousel {
    top: 0;
    position: static!important;
    .carousel-indicators {
      position: static;
    }
    .carousel-item {
      background-color: transparent;
      backface-visibility: hidden;
      transition: all 0.6s ease-in-out;
      .review-author-name {
        font-family: $relaway-bold;
        font-size: 16px;
        p {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 16px;
          margin-top: 1rem;
          margin-bottom: 0;
          margin-bottom: 35px;
        }
      }
      .review-text {
        font-family: $lato;
        font-size: 16px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    margin-top: 0;
  }

  .box-inner {
    width: 70px;
    height: 70px;
    background-image: url("https://drscdn.500px.org/photo/303244475/q%3D80_m%3D1000/v2?webp=true&sig=28fd0ec1cb0bbc38987e2ed627785206c2fb9fcdea4866a97e0bf4a6fcaa7bbe");
    background-size: cover;
    background-position: 0 0;
    margin: auto;
    top: 6px;
    position: static;
    overflow: hidden;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  }
}
.reviews-slider-indicator {
  display: flex;
  .indicator {
    width: 10px;
    height: 10px;
    display: block;
    background-color: $white;
    margin: 0 2px;
    &.active {
      background-color: $red-color;
    }
  }
}
.reviews-slider {
  .reviews-title {
    font-family: $relaway-medium;
    font-size: 20px;
    text-transform: uppercase;
  }
}