@import "../components/variables";
.follow-section{
  color: $white;
  background: rgba(0, 0, 0, 0) url("../img/header-bg.png") 0% 0%;
  transition: background-color 1s;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    background-color: rgba(0,0,0,.8);
    transition: background-color ease-in-out .9s;
  }
  &:before {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: inherit;
    content: ' ';
  }
}
.follows {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials {
  display: flex;
  justify-content: center;
  .hexagon {
    background-color: $red-color;
    margin-right: 2rem;
    width: 60px;
    height: 60px;
    svg {
      path {
        fill: $white;
      }
    }
  }
  .hexagon:before {
    top: -50px;
    width: auto;
    height: auto;
  }
  .hexagon:before, .hexagon:after {
    height: auto;
    width: auto;
  }
}
.follow {
  a {
    color: $red-color;
    &:hover {
      color: $white;
      .hexagon-body {
        polygon {
          transition: fill ease .5s;
          fill: $red-color;
        }
      }
    }
  }
  svg {
    width: 60px;
    height: 60px;
  }
}
.hexagon-svg {
  width: 60px;
  height: 60px;
  position: relative;
  display: block;
  margin-right: 3rem;
  transform: rotate(28deg);
  svg {
    position: absolute;
    &:last-child {
      left: 50%;
      transform: translateX(-50%) rotate(-28deg);
    }
  }
  @media screen and (max-width: 576px) {
    margin-right: 1rem;
  }
}
