.follow-section{
  color: $white;
  background: rgba(0, 0, 0, 0) url("../img/header-bg.png") 0% 0%;
  transition: background-color 1s;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    background-color: rgba(0,0,0,.8);
    transition: background-color ease-in-out .9s;
  }
  &:before {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: inherit;
    content: ' ';
  }
  .divider {
    @include divider( -.65rem,$red-color);
  }
  .hexagon-link {
    justify-content: center;
    margin-right: 50px;
    span {
      text-align: center;
      margin-top: 40px;
    }
  }
}
.follows {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials {
  display: flex;
  justify-content: center;
  
}
.follow {
  a {
    color: $red-color;
    &:hover {
      color: $white;
      .hexagon-body {
        polygon {
          transition: fill ease .5s;
          fill: $red-color;
        }
      }
    }
  }
  svg {
    width: 60px;
    height: 60px;
  }
}
.socials-numbers {
  span {
    font-size: 16px;
  font-family: $lato;
  margin-right: 75px;
  margin-top: 40px;
  text-align: center;
  }
}
.hexagon-svg {
  margin-right: 0!important;
  @include hexagon(60px, 60px);
  margin-right: 3rem;
  transform: rotate(28deg);
  svg {
    position: absolute;
    &:last-child {
      left: 50%;
      transform: translateX(-50%) rotate(-28deg);
    }
  }
  @media screen and (max-width: 576px) {
    margin-right: 1rem;
  }
}