.header-row {
  font-family: $lato;
  background-color: rgba(0,0,0,.7);
  position: relative;
  z-index: 10;
  margin-top: 3px;
  @media screen and (max-width: 992px){
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
  }
  @media screen and (max-width: 767px){
    margin-top: 0;
    .navbar-brand {
      top: 0;
      left: 0;
      img {
        width: 150px;
      }
    }
  }
  .section-header {
    padding-top: 40px!important;
  }
}

.navbar {
  width: 100%;
  .navbar-toggler {
    position: relative;
    left: 90%;
    path {
      fill: #262626 ;
    }
    &:focus,
    &:active {
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
}
.navbar-collapse {
  align-items: flex-end!important;
  flex-direction: column;
  @media screen and (max-width: 992px) {
    text-align: center;
    margin-left: 30%;
    right: 0;
    align-items: flex-end;
  }
}
.octagon {
  position: absolute;
  top: -2.8rem;
}

.carousel-inner {
  overflow: inherit!important;
}

.slider-wrapper {
  img {
    width: 100%;
    position: absolute;
    top: 0;
  }
}
.red-text {
  color: $red-color;
}
.carousel {
  overflow: hidden;
  top: -60px!important;
}
.carousel-caption {
  top: 32%;
  h5 {
    font-weight: bold;
    font-size: 30px;
    font-family: $relaway-bold;
    margin-bottom: 52px;
  }
  p {
    font-size: 1rem;
    font-family: $lato;
    margin-bottom: 52px;
  }
  @media screen and (max-width:576px) {
    // top: 20%;
    h5 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
      // text-overflow: ellipsis;
      // white-space: nowrap;
      // overflow: hidden;
    }
  }
}

.carousel-control-prev, 
.carousel-control-next {
  z-index: 3!important;
  svg.svg-inline--fa {
    width: 1.3em;
    height: auto;
  }
}

.navbar-brand {
  position: absolute;
  top: -0.5rem;
  @media screen and (max-width: 767px){
    svg {
      width: 15%;
      height: auto;
    }
  }
}
.nav-item {
  padding: 0;
  margin: 0;
  margin-right: 30px;
  box-sizing: border-box;
  // padding: 0px 15px;
  // margin: 30px 0;
  font-family: $relaway-regular;
  .nav-link {
    font-size: 18px;
    text-transform: uppercase;
    color: #a4a4a4!important;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    // padding-right: 0.4rem;
    padding-left: 0!important;
    padding-right: 0!important;
    &:before {
      content: '';
      width: 50%;
      height: 3px;
      position: absolute;
      background-color: $red-color;
      margin-top: -19px;
      opacity: 0;
    }
    &:after {
      content: '';
      width: 50%;
      height: 3px;
      position: absolute;
      background-color: $red-color;
      margin-top: 40px;
      opacity: 0;
    }
    @media screen and (max-width: 1198px) {
      font-size: 16px;
    }
    @media screen and (max-width: 992px) {
      font-size: 14px;
      &:hover {
        color: $white!important;
      }
    }
    &:hover {
      color: $white!important;
      &:before,
      &:after {
        opacity: 1;
        left: 25%;
      }
    }
  }
.btn-group {
  margin-top: 53px;
  }
}
.carousel-item {
  .overflow {
    // background: url(../img/header-bg.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    // height: calc(100vh + 60px);
    z-index: 2;
    position: relative;
    width: 100%;
    height: 100%;
    img {
      vertical-align: top;
      width: 100%;
    }
    &:after {
      content:'\A';
      position:absolute;
      width:100%; height:100%;
      top:0; left:0;
      background:rgba(0,0,0,0.6);
      opacity:0;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
    }
    
  }
  &:hover {
    .overflow {
      &:after {
        background:rgba(0,0,0,0.8);
        opacity: 1;
      }
    }
    // .carousel-caption {
    //   background:rgba(0,0,0,0.6);
    //   opacity: 1;
    //   color: #fff;
    // }
  }
}
