.product-features {
 
  @media screen and (max-width: 767px) {
    height: auto;
    .section-description {
      padding-bottom: 0;
    }
  }
}
.product-features-header {
  font-size: 30px;
  font-weight: bold;

}

.links {
  padding-top: 3rem;
  position: relative;
  cursor: pointer;
  .links-icon {
    position: relative;
    svg {
      position: absolute;
      margin: auto;
      margin-left: -2rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 30px;
      &:first-child {
        z-index: 1;
      }
    }
  }
  .link-item {
    font-family: $relaway-medium;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    padding: 10px 15px;
    padding-right: 0;
    justify-content: space-between;
    border: 1px solid #c9c9c9;
    display: flex;
    margin-bottom: 24px;
    &:hover {
      background-color: $red-color;
      text-decoration: none;
      text-transform: uppercase;
      color: $white;
      svg {
        &:first-child {
          path {
            fill: $red-color!important;
          }
        }
        &:last-child {
          path {
            fill: $white!important;
          }
        }
      }
      a {
        text-decoration: none;
        color: $white;
      }
    }
    a {
      text-decoration: none;
      color: #333;
    }
    @media screen and (max-width: 1199px) {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 767px){
    padding-top: 0;
  }
}
.links-right {
  .link-item {
    justify-content: unset;
    @media screen and (max-width: 767px) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
  .links-icon {
    margin-left: 3rem; 
  }
}
.mockup {
 img {
   width: 100%;
  //  position: absolute;
  //  left: -3rem;
   padding-bottom: 0px;
  //  z-index: -1;
  @media screen and (max-width:767px) {
    display: none;
  }
 }
  .slider-btn {
    z-index: 2;
    position: absolute;
    font-family: $relaway-medium;
    font-size: 20px;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-right: 0;

    @media screen and (max-width:1199px) {
      padding: 10px 20px;
      font-size: 14px;
    }
    @media screen and (max-width:992px) {
      top: 14rem!important;
    }
  }
  
  
 
  @media screen and (max-width: 992px) {
    img {
      position: absolute;
      left: 0rem;
      padding-bottom: 100px;
      top: -31rem;
      z-index: -1;
      opacity: .5;
    }
    .slider-btn {
      height: 35px;
      padding: 7px 20px;
      top:11px;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, -27%);
    }
  }

}
