@import url(../css/base/fonts.css);

.btn-group {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.slider-btn {
  padding: 17px 35px;
  display: block;
  text-transform: uppercase;
  background-color: #131313;
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
}

.slider-btn:hover {
  background-color: #ff0036;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .slider-btn {
    padding: 10px;
    font-size: 14px;
    margin-right: 10px;
  }
}

.btn-order {
  background-color: #262626;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  padding: 12px 50px;
}

.view-more-btn {
  padding: 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  border: none;
  border-radius: 0;
  background-color: #262626;
  transition: background-color ease-in-out .5s;
}

.view-more-btn:hover {
  background-color: #ff0036;
}

.more-articles {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.more-articles svg {
  width: 30px !important;
  height: 30px;
  vertical-align: middle;
}

.more-articles svg path {
  fill: #a2a2a2;
}

.more-articles:hover svg {
  transform: translateY(10px);
  transition: all ease-in-out .4s;
}

.more-articles:hover svg path {
  fill: #474f54;
}

.submit-form {
  max-width: 120px;
  padding: 15px 30px;
  text-transform: uppercase;
  background-color: #262626;
  color: #fff;
  border: none;
  transition: background-color ease-in-out .3s;
}

.submit-form:hover {
  background-color: #ff0036;
}

@media screen and (max-width: 576px) {
  .submit-form {
    padding: 3px 20px;
    font-size: 14px;
    margin: auto;
  }
}

* {
  font-family: "ralewayregular", sans-serif;
}

.header-row {
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 10;
  margin-top: 3px;
}

@media screen and (max-width: 992px) {
  .header-row {
    background-color: black;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .header-row {
    margin-top: 0;
  }

  .header-row .navbar-brand {
    top: 0;
    left: 0;
  }

  .header-row .navbar-brand img {
    width: 150px;
  }
}

.navbar {
  width: 100%;
}

.navbar .navbar-toggler {
  position: relative;
  left: 90%;
}

.navbar .navbar-toggler path {
  fill: #262626;
}

.navbar .navbar-toggler:focus,
.navbar .navbar-toggler:active {
  border: none;
  box-shadow: none;
  outline: none;
}

.navbar-collapse {
  align-items: flex-end !important;
  flex-direction: column;
}

@media screen and (max-width: 992px) {
  .navbar-collapse {
    text-align: center;
    margin-left: 30%;
    right: 0;
    align-items: flex-end;
  }
}

.section-header {
  padding-top: 40px !important;
}

.nav-item {
  padding: 0px 15px;
  margin: 30px 0;
}

.octagon {
  position: absolute;
  top: -2.8rem;
}

.carousel-inner {
  overflow: inherit !important;
}

.slider-wrapper img {
  width: 100%;
  position: absolute;
  top: 0;
}

.red-text {
  color: #ff0036;
}

.carousel {
  overflow: hidden;
  top: -60px !important;
}

.carousel-caption {
  top: 32%;
}

.carousel-caption h5 {
  font-weight: bold;
  font-size: 30px;
}

.carousel-caption p {
  font-size: 1rem;
}

@media screen and (max-width: 576px) {
  .carousel-caption h5 {
    font-size: 20px;
  }

  .carousel-caption p {
    font-size: 14px;
  }
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 3 !important;
}

.navbar-brand {
  position: absolute;
  top: -2.2rem;
}

@media screen and (max-width: 767px) {
  .navbar-brand svg {
    width: 15%;
    height: auto;
  }
}

.nav-item {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-item .nav-link {
  font-size: 18px;
  text-transform: uppercase;
  color: #a4a4a4 !important;
  text-decoration: none;
  white-space: nowrap;
  position: relative;
  padding-right: 0.4rem;
}

@media screen and (max-width: 1198px) {
  .nav-item .nav-link {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  .nav-item .nav-link {
    font-size: 14px;
  }

  .nav-item .nav-link:hover {
    color: #fff !important;
  }

  .nav-item .nav-link:hover:before {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #ff0036;
    margin-top: -19px;
    right: 0;
  }

  .nav-item .nav-link:hover:after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #ff0036;
    margin-top: 40px;
    left: 0;
  }
}

.nav-item .nav-link:hover {
  color: #fff !important;
}

.nav-item .btn-group {
  margin-top: 53px;
}

.overflow {
  background: rgba(0, 0, 0, 0.7) url("app/img../img/header-bg.png?version=1");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh + 60px);
  z-index: 2;
  position: relative;
}

.overflow:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  content: ' ';
}

.hexagon-big {
  position: static;
  width: 290px;
  height: 290px;
  background-color: #fff;
  overflow: hidden;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.box {
  width: 300px;
  height: 300px;
  margin: auto;
}

.box-left,
.box-right {
  width: 270px;
  height: 270px;
  margin: auto;
  position: absolute;
  top: 1rem;
}

.box-left .box-inner,
.box-right .box-inner {
  width: 260px;
  height: 260px;
  background-size: cover;
  background-position: 0 0;
  background-image: url("app/imghttps:/drscdn.500px.org/photo/303244475/q%3D80_m%3D1000/v2?webp=true&sig=28fd0ec1cb0bbc38987e2ed627785206c2fb9fcdea4866a97e0bf4a6fcaa7bbe?version=1");
}

.box-left .box-inner:before,
.box-left .box-inner:after,
.box-right .box-inner:before,
.box-right .box-inner:after {
  background-color: transparent;
}

.box-inner {
  width: 290px;
  height: 290px;
  background-image: url("app/imghttps:/drscdn.500px.org/photo/303244475/q%3D80_m%3D1000/v2?webp=true&sig=28fd0ec1cb0bbc38987e2ed627785206c2fb9fcdea4866a97e0bf4a6fcaa7bbe?version=1");
  background-size: cover;
  background-position: 0 0;
  margin: auto;
  top: 6px;
  position: relative;
}

.hexagon {
  width: 290px;
  height: 290px;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.hexagon-inner {
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.hexagon-wrapper .box {
  z-index: 1;
  margin: auto;
}

.hexagon-wrapper .box-left {
  position: absolute;
  left: -1rem;
}

.hexagon-wrapper .box-right {
  position: absolute;
  right: 1rem;
}

@media screen and (max-width: 576px) {
  .hexagon-wrapper div {
    display: flex;
    flex-direction: column;
  }

  .hexagon-wrapper div .box,
  .hexagon-wrapper div .box-left,
  .hexagon-wrapper div .box-right {
    position: static;
    width: 180px;
    height: 180px;
  }

  .hexagon-wrapper div .box .box-inner,
  .hexagon-wrapper div .box-left .box-inner,
  .hexagon-wrapper div .box-right .box-inner {
    width: 170px;
    height: 170px;
    margin: auto;
  }
}

.btn-link {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0px !important;
}

.accordion .card-body {
  padding: 1.25rem;
}

.accordion-icon {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid #ff0036;
  display: block;
  margin: 0 2rem 0 0;
}

.accordion-icon svg {
  width: 15px;
  height: 15px;
}

.accordion-icon svg path {
  fill: #ff0036;
}

.about .divider {
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  bottom: -5.75rem;
  z-index: 1;
  position: static;
  transform: translate(0%);
}

.about .divider svg path {
  fill: #262626;
}

.about .divider:before,
.about .divider:after {
  content: '';
  width: 50%;
  display: block;
  height: 1px;
  background-color: #262626;
  margin: 0 auto;
}

.advantage-item .advantages-header {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.advantage-item .hexagon {
  background-color: #626262 !important;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin-bottom: 1.5rem;
}

.advantage-item .hexagon .inner-hexagon {
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  width: 68px;
  height: 68px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantage-item .hexagon .inner-hexagon svg {
  color: #262626;
}

.advantage-item .hexagon:hover {
  background-color: #ff0036 !important;
}

.advantage-item .hexagon:hover .inner-hexagon {
  background-color: #ff0036;
}

.advantage-item .hexagon:hover .inner-hexagon svg {
  color: #fff;
}

.advantage-item .hexagon:hover .inner-hexagon svg path {
  fill: #fff;
}

.advantage-item .hexagon:before,
.advantage-item .hexagon:after {
  content: '';
  width: 0;
}

.accordion-icon {
  box-sizing: border-box;
  transition: transform 0.3s;
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.accordion-icon::before {
  content: '';
  display: block;
  width: 0px;
  height: 0px;
  border-bottom: solid 2px #ff0036;
  bottom: 9px;
  transform: rotate(90deg);
}

.accordion-icon::after {
  content: '';
  display: block;
  width: 13px;
  height: 0px;
  border-bottom: solid 2px #ff0036;
  position: absolute;
  bottom: 9px;
}

.btn-link.collapsed .accordion-icon {
  transform: rotate(0deg);
}

.btn-link.collapsed .accordion-icon::before {
  content: '';
  display: block;
  width: 13px;
  height: 0px;
  border-bottom: solid 2px #ff0036;
  position: absolute;
  bottom: 9px;
  transform: rotate(90deg);
  transition: width 0.3s;
}

.portfolio-section {
  position: relative;
}

.portfolio-section .divider {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5.6rem;
}

.portfolio-section .divider:before,
.portfolio-section .divider:after {
  content: '';
  width: 50%;
  display: block;
  height: 2px;
  background-color: #ff0036;
  margin: 0 auto;
}

.portfolio-section .divider svg path {
  fill: #ff0036;
}

@media screen and (max-width: 576px) {
  .portfolio-section .divider {
    bottom: 2.5rem;
  }
}

.portfolios {
  padding-bottom: 110px;
  background-color: #262626;
  position: relative;
  overflow: hidden;
}

.portfolio-nav-wrapper {
  padding: 100px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #262626;
}

.portfolio-nav-wrapper .portfolio-header {
  color: #fff;
  padding-bottom: 27px;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .portfolio-nav-wrapper {
    padding: 30px 0;
  }

  .portfolio-nav-wrapper .portfolio-header {
    padding-bottom: 15px;
    border-bottom: 3px solid #ff0036;
  }
}

.portfolio-nav {
  margin: 0;
  padding: 0;
  display: flex;
}

@media screen and (max-width: 767px) {
  .portfolio-nav {
    flex-direction: column;
  }

  .portfolio-nav .portfolio-item {
    padding: 8px;
  }
}

.portfolio-item {
  padding: 0 23px;
}

.portfolio-item a {
  color: #a4a4a4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.portfolio-item a:hover {
  color: #ff0036;
  text-decoration: none;
  transition: color .2s;
}

.portfolio-example {
  position: relative;
  height: 355px;
  overflow: hidden;
}

.portfolio-example.orange {
  background-color: #f39943;
}

.portfolio-example.blue {
  background-color: #3782aa;
}

.portfolio-example.pink {
  background-color: #ef5d88;
}

.portfolio-example.dirty-white {
  background-color: #f6f0e0;
}

.portfolio-example.light-green {
  background-color: #56cc82;
}

.portfolio-example.grey {
  background-color: #95a5a5;
}

.portfolio-example.light-blue {
  background-color: #24b0c9;
}

.portfolio-example.peach {
  background-color: #fa8562;
}

.portfolio-example img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio-example .portfolio-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio-example .portfolio-hover svg path {
  fill: #fff;
}

.portfolio-example .portfolio-hover p {
  color: #fff;
  font-size: 16px;
}

.portfolio-example:hover .portfolio-hover {
  visibility: visible;
  transition: all ease-in-out .5s;
}

.product-features {
  height: 90vh;
}

@media screen and (max-width: 767px) {
  .product-features {
    height: auto;
  }
}

.product-features-header {
  font-size: 30px;
  font-weight: bold;
}

.links {
  padding-top: 3rem;
  position: relative;
  cursor: pointer;
}

.links .links-icon {
  position: relative;
}

.links .links-icon svg {
  position: absolute;
  margin: auto;
  margin-left: -2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
}

.links .links-icon svg:first-child {
  z-index: 1;
}

.links .link-item {
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  padding: 10px 15px;
  padding-right: 0;
  border: 1px solid #c9c9c9;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.links .link-item:hover {
  background-color: #ff0036;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.links .link-item:hover svg:first-child path {
  fill: #ff0036 !important;
}

.links .link-item:hover svg:last-child path {
  fill: #fff !important;
}

.links .link-item:hover a {
  text-decoration: none;
  color: #fff;
}

.links .link-item a {
  text-decoration: none;
  color: #333;
}

@media screen and (max-width: 767px) {
  .links {
    padding-top: 0;
  }
}

.mockup img {
  position: absolute;
  left: -3rem;
  padding-bottom: 100px;
  z-index: -1;
}

.mockup .slider-btn {
  background-color: #393939;
  z-index: 2;
  position: absolute;
  bottom: -120%;
  left: 50%;
  transform: translate(-50%, 0%);
}

@media screen and (max-width: 767px) {
  .mockup {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .mockup img {
    position: absolute;
    left: 7rem;
    padding-bottom: 100px;
    top: -31rem;
    z-index: -1;
    opacity: .5;
  }

  .mockup .slider-btn {
    height: 35px;
    padding: 7px 20px;
    top: 11px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -27%);
  }
}

.clients {
  color: #ff0036;
  position: relative;
  margin-top: 177px;
  padding-bottom: 100px;
  background: rgba(0, 0, 0, 0.7) url("app/img../img/clients-bg.png?version=1");
}

.clients:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  content: ' ';
}

.clients .section-header {
  padding-top: 95px;
}

.clients .divider {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6.85rem;
}

.clients .divider:before,
.clients .divider:after {
  content: '';
  width: 50%;
  display: block;
  height: 2px;
  background-color: #ff0036;
  margin: 0 auto;
}

.clients .divider svg {
  width: 20px;
  height: 20px;
}

.clients .divider svg path {
  fill: #ff0036;
}

.clients .partners {
  display: flex;
  justify-content: center;
}

.clients .partners .partners-wrapper {
  display: flex;
  flex-direction: column;
}

.clients .partners-line {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .clients .partners-line {
    margin: 0 15px;
  }
}

.clients .partners-line .partner-item {
  padding: 25px 40px 20px;
  border: 1px solid #c9c9c9;
  background-color: #d6d6d6;
  box-shadow: inset hoff voff blur #000;
  max-width: 215px;
}

.clients .partners-line .partner-item:nth-child(1) {
  margin-right: 25px;
}

@media screen and (max-width: 506px) {
  .clients .partners-line .partner-item:nth-child(1) {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}

.clients .partners-line:nth-child(1) {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .clients .partners-line:nth-child(1) {
    margin-bottom: 0.5rem;
  }
}

.clients .section-description {
  padding-bottom: 35px !important;
  padding: 0 4rem;
}

.clients .carousel {
  top: 0;
  position: static !important;
}

.clients .carousel .carousel-indicators {
  position: static;
}

.clients .carousel .carousel-item {
  background-color: transparent;
  backface-visibility: hidden;
  transition: all 0.6s ease-in-out;
}

@media screen and (max-width: 767px) {
  .clients {
    margin-top: 0;
  }
}

.reviews-slider-indicator {
  display: flex;
}

.reviews-slider-indicator .indicator {
  width: 10px;
  height: 10px;
  display: block;
  background-color: #fff;
  margin: 0 2px;
  margin-top: 28px;
}

.reviews-slider-indicator .indicator.active {
  background-color: #ff0036;
}

.team-wrapper {
  flex-direction: row;
}

@media (max-width: 768px) {
  .team-wrapper {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.card-deck {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .card-deck .col-12 {
    flex-basis: 25%;
  }
}

.person-card {
  position: relative;
  border: 1px solid #c9c9c9;
  border-radius: 0 !important;
  text-align: center;
}

.person-card img {
  border-radius: 0;
}

.person-card:hover {
  border: 1px solid #1b1e21;
}

.person-card:hover .person-name {
  color: #ff0036;
}

.person-card:hover .socials-hover {
  visibility: visible;
}

.person-card .socials-hover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
}

.person-card .socials-hover .hexagon {
  margin-right: 10px;
}

.person-card .socials-hover svg {
  width: 15px;
  height: 15px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.person-card .socials-hover svg path {
  fill: #ff0036;
}

.person-card .card-img-top {
  position: relative;
}

.person-card .card-img-top img {
  width: 100%;
}

.chart {
  position: relative;
  width: 150px;
  height: 150px;
  margin: auto;
}

@media screen and (max-width: 576px) {
  .chart {
    width: 100px;
    height: 100px;
  }
}

.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 576px) {
  .chart canvas {
    width: 100px;
    height: 100px;
  }
}

.chart .percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.75rem;
}

@media screen and (max-width: 480px) {
  .skills-wrapper {
    flex-direction: column;
    margin: auto;
  }
}

.skill-item {
  text-align: center;
}

.skill-item .skill-name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}

.skill-item .percent {
  font-family: Arial, sans-serif;
}

.skill-item .percent .red-text {
  font-family: Arial, sans-serif;
}

.services {
  background-color: #272727;
  color: #a4a4a4;
}

.services .card-body {
  padding: 0;
  text-align: center;
}

.services .card-body .card-title p {
  font-size: 20px;
  background-color: #262626;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0 !important;
  padding: 15px 0;
}

.services .card-body .card-title span {
  display: block;
  width: 100%;
  font-size: 36px;
  background-color: #f2f2f2;
  color: #262626;
  padding: 25px 0;
}

.services .card-body .card-title span sub {
  font-size: 14px;
}

.services .card-body .card-text {
  border-bottom: 1px solid #f2f2f2;
  font-size: 14px;
  padding: 20px 0;
  margin-bottom: 0;
}

@media screen and (max-width: 576px) {
  .services-wrapper .service-item:first-child .service-header {
    justify-content: flex-start;
  }

  .services-wrapper .service-item:last-child .service-header {
    justify-content: flex-end;
  }
}

.service-item {
  margin-bottom: 2rem;
  cursor: pointer;
  transition: all  ease .4s;
}

.service-item .service-header {
  display: flex;
  margin-bottom: 1rem;
}

.service-item .service-header .service-name {
  text-transform: uppercase;
}

.service-item .service-body {
  padding: 30px 35px;
  background-color: #343434;
}

.service-item .hexagon {
  background-color: #a4a4a4;
}

.service-item .hexagon {
  margin-right: 1rem;
}

.service-item .hexagon:before {
  top: -50px;
}

.service-item .hexagon svg path {
  fill: #262626;
}

.service-item:hover {
  transition: all  ease 1s;
  color: #fff;
}

.service-item:hover .service-body {
  background-color: #3d2329;
  transition: all  ease 1s;
}

.service-item:hover .hexagon {
  background-color: #ff0036;
  transition: all  ease 1s;
}

.service-item:hover svg > path {
  fill: #fff;
  transition: all  ease 1s;
}

.card-footer {
  display: flex;
  justify-content: center;
}

.card {
  cursor: pointer;
  transition: all  ease-in-out .8s;
}

.card:hover {
  transition: all  ease-in-out .8s;
}

.card:hover .card-title span {
  background-color: #ff0036;
  color: #fff;
  transition: all  ease-in-out .8s;
}

.card:hover .btn-order {
  background-color: #ff0036;
  transition: all  ease-in-out .8s;
}

.twitter {
  background-color: #272727;
  padding-top: 100px;
  position: relative;
}

.twitter p {
  font-size: 16px;
  font-weight: bold;
  color: #cacaca;
}

.tweet {
  margin: auto;
  text-align: center;
  width: 70%;
  z-index: 1;
}

.tweet svg {
  width: 45px !important;
  height: 45px;
}

.tweet svg path {
  fill: #ff0036;
}

.container {
  position: relative;
}

.container .big-tweet {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -20%;
  left: -10%;
  transform: rotate(-30deg);
  z-index: 0;
}

.container .big-tweet path {
  fill: #3d3d3d;
}

.card-deck {
  display: flex;
}

@media screen and (max-width: 767px) {
  .card-deck {
    display: none !important;
  }
}

.card-carousel {
  display: none;
}

.card-carousel .carousel-indicators {
  margin-bottom: 0;
}

.card-carousel .carousel-indicators li {
  background-color: #000;
}

@media screen and (max-width: 767px) {
  .card-carousel {
    visibility: visible;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    width: 90%;
  }
}

.article {
  margin-bottom: 2rem;
}

.article .article-image img {
  width: 100%;
  height: 200px;
}

@media screen and (max-width: 767px) {
  .article .article-image {
    width: auto;
    margin: auto;
    justify-content: center;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .article .article-blog {
    text-align: center;
  }

  .article .article-blog .article-title {
    padding-top: 1rem;
  }
}

.article .article-title {
  font-size: 20px;
  padding-bottom: 20px;
  line-height: 18px;
}

.article .article-info {
  padding-bottom: 20px;
}

.article .article-info a {
  text-decoration: none;
  color: #a2a2a2;
  margin-right: 23px;
  transition: color ease-in-out .5s;
}

.article .article-info a:hover {
  color: #ff0036;
}

.article .article-info svg {
  margin-right: 10px;
}

.article .article-text {
  font-size: 16px;
  color: #505050;
  line-height: 15px;
}

.follow-section {
  color: #fff;
  background: rgba(0, 0, 0, 0) url("app/img../img/header-bg.png?version=1") 0% 0%;
  transition: background-color 1s;
  background-repeat: no-repeat;
  background-size: cover;
}

.follow-section:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color ease-in-out .9s;
}

.follow-section:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  content: ' ';
}

.follows {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials .hexagon {
  background-color: #ff0036;
  margin-right: 2rem;
  width: 60px;
  height: 60px;
}

.socials .hexagon svg path {
  fill: #fff;
}

.socials .hexagon:before {
  top: -50px;
  width: auto;
  height: auto;
}

.socials .hexagon:before,
.socials .hexagon:after {
  height: auto;
  width: auto;
}

.follow a {
  color: #ff0036;
}

.follow a:hover {
  color: #fff;
}

.follow a:hover .hexagon-body polygon {
  transition: fill ease .5s;
  fill: #ff0036;
}

.follow svg {
  width: 60px;
  height: 60px;
}

.hexagon-svg {
  width: 60px;
  height: 60px;
  position: relative;
  display: block;
  margin-right: 3rem;
  transform: rotate(28deg);
}

.hexagon-svg svg {
  position: absolute;
}

.hexagon-svg svg:last-child {
  left: 50%;
  transform: translateX(-50%) rotate(-28deg);
}

.map-section {
  padding-bottom: 85px;
}

@media screen and (max-width: 576px) {
  .map-section {
    padding-bottom: 35px;
  }
}

.map-wrapper {
  position: relative;
  width: 100%;
}

.map-wrapper .forms {
  top: 25px;
}

.map-wrapper .forms .map-address {
  width: 300px;
  height: 170px;
  background-color: #262626;
  color: #fff;
  font-size: 15px;
  padding-top: 2rem;
}

.map-wrapper .forms .map-address p {
  margin-bottom: .2rem;
}

@media screen and (max-width: 576px) {
  .map-wrapper .forms .map-address {
    margin-bottom: 1.5rem;
  }
}

.map-wrapper .forms .map-form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  width: 80%;
  background-color: #fff;
}

.map-wrapper .forms .map-form .form-title {
  margin-bottom: 4rem;
}

.map-wrapper .forms .map-form input,
.map-wrapper .forms .map-form textarea {
  margin-bottom: 1rem;
  padding-left: 15px;
}

.map-wrapper .forms .map-form textarea {
  resize: none;
}

@media screen and (max-width: 992px) {
  .map-wrapper .forms .map-address,
  .map-wrapper .forms .map-form {
    width: 100%;
  }
}

.map-wrapper .forms .map-address:before {
  content: '';
  width: 0;
  height: 0;
  transform: rotate(-45deg);
  border-right: 25px solid transparent;
  border-left: 79px solid transparent;
  border-bottom: 25px solid #262626;
  display: block;
  position: absolute;
  bottom: -24px;
  right: -3px;
}

@media screen and (max-width: 767px) {
  .map-wrapper .forms .map-address:before {
    visibility: hidden;
  }
}

@media screen and (max-width: 767px) {
  .map-wrapper .forms {
    width: 70%;
  }

  .map-wrapper .forms .map-form {
    padding: 1rem;
  }

  .map-wrapper .forms .form-title {
    margin-bottom: 1.3rem !important;
    text-align: center;
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .map-wrapper .forms .map-wrapper .forms {
    width: 100%;
    top: 25px;
  }
}

.map-wrapper .mapouter {
  position: absolute;
  text-align: right;
  width: 100%;
}

.map-wrapper .mapouter .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 635px;
  width: 100%;
}

.footer-wrapper {
  background: #000;
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper a {
  color: #6c6c6c;
  font-size: 16px;
}

@media screen and (max-width: 576px) {
  .footer-wrapper .footer-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-wrapper .footer-links a:first-child {
    padding-bottom: 0.5rem;
  }
}

* {
  font-family: "ralewayregular", sans-serif;
}

body {
  padding-bottom: 0;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

.custom-link {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

.custom-link:hover {
  text-decoration: none;
  color: #fff;
}

input,
textarea {
  outline: none;
  box-shadow: none;
  font-size: 16px;
  padding: 5px;
  border: 1px solid #c6c6c6;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
  border: 1px solid #c6c6c6;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border: 1px solid #c6c6c6;
  -webkit-text-fill-color: #000;
  background-color: #fff !important;
  background-image: none;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

section {
  padding-bottom: 100px;
  position: relative;
}

section .section-header {
  padding-top: 100px;
  padding-bottom: 55px;
  text-align: center;
}

section .section-description {
  padding-bottom: 100px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  section .section-description {
    padding-bottom: 20px;
  }
}

section .divider {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -.65rem;
}

section .divider.black:before,
section .divider.black:after {
  background-color: #000;
}

section .divider.black svg path {
  fill: #000;
}

section .divider:before,
section .divider:after {
  content: '';
  width: 50%;
  display: block;
  height: 2px;
  background-color: #ff0036;
  margin: 0 auto;
}

section .divider svg {
  width: 20px;
  height: 20px;
}

section .divider svg path {
  fill: #ff0036;
}

@media screen and (max-width: 576px) {
  section {
    padding-bottom: 50px;
  }
}

.hexagon {
  width: 30px;
  height: 30px;
  position: relative;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.hexagon,
.hexagon:before,
.hexagon:after {
  background: #fff;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  left: 22px;
  width: 57px;
  height: 57px;
  -moz-transform: rotate(145deg) skew(22.5deg);
  -webkit-transform: rotate(145deg) skew(22.5deg);
  transform: rotate(145deg) skew(22.5deg);
}

.hexagon:before {
  top: -29px;
}

.hexagon:after {
  top: 27px;
}

.hexagon i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 55px;
  background: #666;
  z-index: 1;
  color: #fff;
  display: block;
  text-align: center;
  line-height: 55px;
}

.skill-progressbar {
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-progressbar > .inner {
  position: absolute;
  color: red;
}

.skill-progressbar > svg {
  height: 100%;
  display: block;
}

.gm-style div:nth-child(11) {
  display: none;
}

.gm-style:nth-child(10) {
  display: none;
}

.carousel-control-prev.carousel-control:hover,
.carousel-control-next.carousel-control:hover {
  color: #ff0036;
  background-color: transparent;
}

.carousel-control-prev.carousel-control:hover .carousel-control-prev-icon,
.carousel-control-next.carousel-control:hover .carousel-control-prev-icon {
  color: #ff0036;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background: none !important;
}