
// variables
@import "components/variables";
@import "components/mixin";
//components
@import "components/buttons";
//fonts
@import "../css/base/fonts.css";

//layouts
@import "layout/header";
@import "layout/about-section";
@import "layout/portfolio-section";
@import "layout/product-features";
@import "layout/clients-section";
@import "layout/team-section";
@import "layout/services";
@import "layout/twitter-section";
@import "layout/bestseller";
@import "layout/blog-section";
@import "layout/follow-section";
@import "layout/location-section";
@import "layout/footer";



* {
  font-family: "ralewayregular", sans-serif;
}

body {
  padding-bottom: 0;
}
ul {
  li {
    list-style: none;
    a{
      text-decoration: none;
      color: #000;
      font-size: 1rem;
    }
  }
}
.custom-link{
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  &:hover {
    text-decoration: none;
    color: $white;
  }
}
input, textarea {
  outline: none;
  box-shadow: none;
  font-size: 16px;
  padding: 5px;
  border: 1px solid #c6c6c6;
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
    border: 1px solid #c6c6c6;
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    border: 1px solid #c6c6c6;
    -webkit-text-fill-color: #000;
    background-color: $white!important;
    background-image: none;
    -webkit-box-shadow: 0 0 0px 1000px $white inset;
  }
}
section {
  padding-bottom: 100px;
  position: relative;
  .section-header {
    padding-top: 100px;
    padding-bottom: 55px;
    text-align: center;
  }
  .section-description {
    padding-bottom: 100px;
    text-align: center;
    @media screen and (max-width: 767px){
      padding: 0 30px 100px 30px;
    }
  }
  .divider {
    @include divider(-.65rem, #262626);
  }
  @media screen and (max-width: 576px) {
    padding-bottom: 50px;
  }
}

.hexagon {
  @include hexagon(30px, 30px);
 
  margin:auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: $white;
  &:before, 
  &:after {
    content: "";
    position: absolute;
    left: 22px;
    width: 57px;
    height: 57px;
    -moz-transform: rotate(145deg) skew(22.5deg);
    -webkit-transform: rotate(145deg) skew(22.5deg);
    transform: rotate(145deg) skew(22.5deg);
    background: $white;
  }
  &:before {
    top: -29px;
  }
  &:after {
    top: 27px;
  }
  i {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 55px;
    background:#666;
    z-index: 1;
    color: $white;
    display: block;
    text-align: center;
    line-height: 55px;
  }
}

.skill-progressbar {
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  & > .inner {
    position: absolute;
    color: $red-color;
  }
  & > svg {
    height: 100%;
    display: block;
  }
}

.gm-style {
  div:nth-child(11){
    display: none;
  }
  &:nth-child(10){
    display: none;
  }
}

.carousel-control-prev,
.carousel-control-next{
  &.carousel-control {
    &:hover {
      color: $red-color;
      background-color: transparent;
      .carousel-control-prev-icon {
        color: $red-color;
      }
    }
  }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background: none!important;
}