.clients {
  color: #fff;
  position: relative;
  margin-top: 177px;
  padding-bottom: 100px;
  background: rgba(0, 0, 0, 0.7) url("../img/clients-bg.png"); }
  .clients:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: inherit;
    content: ' '; }
  .clients .section-header {
    padding-top: 95px; }
  .clients .divider {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -6.85rem; }
    .clients .divider:before, .clients .divider:after {
      content: '';
      width: 50%;
      display: block;
      height: 2px;
      background-color: #ff0036;
      margin: 0 auto; }
    .clients .divider svg {
      width: 20px;
      height: 20px; }
      .clients .divider svg path {
        fill: #ff0036; }
  .clients .partners {
    display: flex;
    justify-content: center; }
    .clients .partners .partners-wrapper {
      display: flex;
      flex-direction: column; }
  .clients .partners-line {
    display: flex;
    justify-content: center; }
    @media screen and (max-width: 767px) {
      .clients .partners-line {
        margin: 0 15px; } }
    .clients .partners-line .partner-item {
      padding: 25px 40px 20px;
      border: 1px solid #c9c9c9;
      background-color: #d6d6d6;
      box-shadow: inset hoff voff blur #000;
      max-width: 215px; }
      .clients .partners-line .partner-item:nth-child(1) {
        margin-right: 25px; }
        @media screen and (max-width: 506px) {
          .clients .partners-line .partner-item:nth-child(1) {
            margin-right: 0;
            margin-bottom: 0.5rem; } }
    .clients .partners-line:nth-child(1) {
      margin-bottom: 40px; }
      @media screen and (max-width: 767px) {
        .clients .partners-line:nth-child(1) {
          margin-bottom: 0.5rem; } }
  .clients .section-description {
    padding-bottom: 35px !important;
    padding: 0 4rem; }
  .clients .carousel {
    top: 0;
    position: static !important; }
    .clients .carousel .carousel-indicators {
      position: static; }
    .clients .carousel .carousel-item {
      background-color: transparent;
      backface-visibility: hidden;
      transition: all 0.6s ease-in-out; }
  @media screen and (max-width: 767px) {
    .clients {
      margin-top: 0; } }

.reviews-slider-indicator {
  display: flex; }
  .reviews-slider-indicator .indicator {
    width: 10px;
    height: 10px;
    display: block;
    background-color: #fff;
    margin: 0 2px;
    margin-top: 28px; }
    .reviews-slider-indicator .indicator.active {
      background-color: #ff0036; }
