.follow-section {
  color: #ffffff;
  background: rgba(0, 0, 0, 0) url("../img/header-bg.png") 0% 0%;
  transition: background-color 1s;
  background-repeat: no-repeat;
  background-size: cover; }
  .follow-section:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color ease-in-out .9s; }
  .follow-section:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: inherit;
    content: ' '; }
  .follow-section .divider {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -0.65rem; }
    .follow-section .divider.black:before, .follow-section .divider.black:after {
      background-color: #ff0036; }
    .follow-section .divider.black svg path {
      fill: #ff0036; }
    .follow-section .divider:before, .follow-section .divider:after {
      content: '';
      width: 50%;
      display: block;
      height: 2px;
      background-color: #ff0036;
      margin: 0 auto; }
    .follow-section .divider svg {
      width: 20px;
      height: 20px; }
      .follow-section .divider svg path {
        fill: #ff0036; }

.follows {
  display: flex;
  justify-content: center;
  align-items: center; }

.socials {
  display: flex;
  justify-content: center; }

.follow a {
  color: #ff0036; }
  .follow a:hover {
    color: #ffffff; }
    .follow a:hover .hexagon-body polygon {
      transition: fill ease .5s;
      fill: #ff0036; }

.follow svg {
  width: 60px;
  height: 60px; }

.hexagon-svg {
  width: 60px;
  height: 60px;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  margin-right: 3rem;
  transform: rotate(28deg); }
  .hexagon-svg svg {
    position: absolute; }
    .hexagon-svg svg:last-child {
      left: 50%;
      transform: translateX(-50%) rotate(-28deg); }
  @media screen and (max-width: 576px) {
    .hexagon-svg {
      margin-right: 1rem; } }
