.btn-group {
  display: flex;
  justify-content: space-between;
  flex-direction: row; }

.slider-btn {
  padding: 10px 35px;
  display: block;
  text-transform: uppercase;
  background-color: #393939;
  color: #ffffff;
  text-decoration: none;
  margin-right: 30px; }
  .slider-btn:hover {
    background-color: #ff0036;
    color: #ffffff;
    text-decoration: none; }
  @media screen and (max-width: 767px) {
    .slider-btn {
      padding: 10px;
      font-size: 14px;
      margin-right: 10px; } }

.btn-order {
  background-color: #262626;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  padding: 12px 50px; }

.view-more-btn {
  padding: 15px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  border: none;
  border-radius: 0;
  background-color: #262626;
  transition: background-color ease-in-out .5s; }
  .view-more-btn:hover {
    background-color: #ff0036; }

.more-articles {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  border-radius: 50%; }
  .more-articles svg {
    width: 30px;
    height: 30px;
    vertical-align: middle; }
    .more-articles svg path {
      fill: #a2a2a2; }
  .more-articles:hover svg {
    transform: translateY(10px);
    transition: all ease-in-out .4s; }
    .more-articles:hover svg path {
      fill: #474f54; }

.submit-form {
  max-width: 120px;
  padding: 15px 30px;
  text-transform: uppercase;
  background-color: #262626;
  color: #ffffff;
  border: none;
  transition: background-color ease-in-out .3s; }
  .submit-form:hover {
    background-color: #ff0036; }
  @media screen and (max-width: 576px) {
    .submit-form {
      padding: 3px 20px;
      font-size: 14px;
      margin: auto; } }

.product-features {
  height: 80vh; }
  @media screen and (max-width: 767px) {
    .product-features {
      height: auto; }
      .product-features .section-description {
        padding-bottom: 0; } }

.product-features-header {
  font-size: 30px;
  font-weight: bold; }

.links {
  padding-top: 3rem;
  position: relative;
  cursor: pointer; }
  .links .links-icon {
    position: relative; }
    .links .links-icon svg {
      position: absolute;
      margin: auto;
      margin-left: -2rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 30px; }
      .links .links-icon svg:first-child {
        z-index: 1; }
  .links .link-item {
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    padding: 10px 15px;
    padding-right: 0;
    justify-content: space-between;
    border: 1px solid #c9c9c9;
    display: flex;
    margin-bottom: 24px; }
    .links .link-item:hover {
      background-color: #ff0036;
      text-decoration: none;
      text-transform: uppercase;
      color: #ffffff; }
      .links .link-item:hover svg:first-child path {
        fill: #ff0036 !important; }
      .links .link-item:hover svg:last-child path {
        fill: #ffffff !important; }
      .links .link-item:hover a {
        text-decoration: none;
        color: #ffffff; }
    .links .link-item a {
      text-decoration: none;
      color: #333; }
  @media screen and (max-width: 767px) {
    .links {
      padding-top: 0; } }

.links-right .link-item {
  justify-content: unset; }
  @media screen and (max-width: 767px) {
    .links-right .link-item {
      flex-direction: row-reverse;
      justify-content: space-between; } }

.links-right .links-icon {
  margin-left: 3rem; }

.mockup img {
  width: 100%;
  padding-bottom: 0px; }

.mockup .slider-btn {
  z-index: 2;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-right: 0; }

@media screen and (max-width: 767px) {
  .mockup {
    display: none; } }

@media screen and (max-width: 992px) {
  .mockup img {
    position: absolute;
    left: 0rem;
    padding-bottom: 100px;
    top: -31rem;
    z-index: -1;
    opacity: .5; }
  .mockup .slider-btn {
    height: 35px;
    padding: 7px 20px;
    top: 11px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -27%); } }
