.team-wrapper {
  flex-direction: row; }
  @media (max-width: 768px) {
    .team-wrapper {
      flex-direction: column;
      flex-wrap: wrap; } }

.card-deck {
  width: 100%; }
  @media screen and (max-width: 576px) {
    .card-deck .col-12 {
      flex-basis: 25%; } }

.person-card {
  position: relative;
  border: 1px solid #c9c9c9;
  border-radius: 0 !important;
  text-align: center; }
  .person-card img {
    border-radius: 0; }
  .person-card:hover {
    border: 1px solid #1b1e21; }
    .person-card:hover .person-name {
      color: #ff0036; }
    .person-card:hover .socials-hover {
      visibility: visible; }
  .person-card .socials-hover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    visibility: hidden;
    display: flex;
    justify-content: center; }
    .person-card .socials-hover .hexagon {
      margin-right: 10px; }
    .person-card .socials-hover svg {
      width: 15px;
      height: 15px;
      position: relative;
      justify-content: center;
      align-items: center; }
      .person-card .socials-hover svg path {
        fill: #ff0036; }
  .person-card .card-img-top {
    position: relative; }
    .person-card .card-img-top img {
      width: 100%; }

.chart {
  position: relative;
  width: 150px;
  height: 150px;
  margin: auto; }
  @media screen and (max-width: 576px) {
    .chart {
      width: 100px;
      height: 100px; } }
  .chart canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px; }
    @media screen and (max-width: 576px) {
      .chart canvas {
        width: 100px;
        height: 100px; } }
  .chart .percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.75rem; }

@media screen and (max-width: 480px) {
  .skills-wrapper {
    flex-direction: column;
    margin: auto; } }

.skill-item {
  text-align: center; }
  .skill-item .skill-name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600; }
  .skill-item .percent {
    font-family: Arial, sans-serif; }
    .skill-item .percent .red-text {
      font-family: Arial, sans-serif; }
