.btn-group {
  display: flex;
  justify-content: space-between;
  flex-direction: row; }

.slider-btn {
  padding: 17px 35px;
  display: block;
  text-transform: uppercase;
  background-color: #131313;
  color: #fff;
  text-decoration: none;
  margin-right: 30px; }
  .slider-btn:hover {
    background-color: #ff0036;
    color: #fff;
    text-decoration: none; }
  @media screen and (max-width: 767px) {
    .slider-btn {
      padding: 10px;
      font-size: 14px;
      margin-right: 10px; } }

.btn-order {
  background-color: #262626;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  padding: 12px 50px; }

.view-more-btn {
  padding: 15px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  border: none;
  border-radius: 0;
  background-color: #262626;
  transition: background-color ease-in-out .5s; }
  .view-more-btn:hover {
    background-color: #ff0036; }

.more-articles {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  border-radius: 50%; }
  .more-articles svg {
    width: 30px !important;
    height: 30px;
    vertical-align: middle; }
    .more-articles svg path {
      fill: #a2a2a2; }
  .more-articles:hover svg {
    transform: translateY(10px);
    transition: all ease-in-out .4s; }
    .more-articles:hover svg path {
      fill: #474f54; }

.submit-form {
  max-width: 120px;
  padding: 15px 30px;
  text-transform: uppercase;
  background-color: #262626;
  color: #fff;
  border: none;
  transition: background-color ease-in-out .3s; }
  .submit-form:hover {
    background-color: #ff0036; }
  @media screen and (max-width: 576px) {
    .submit-form {
      padding: 3px 20px;
      font-size: 14px;
      margin: auto; } }
